POSTGRES_DB=hid_oauth
POSTGRES_USER=hid_oauth
POSTGRES_PASSWORD=hidoauthpassword
PGDATA=/var/lib/postgresql/data/pgdata
DATABASE_URL=postgresql://hid_oauth:hidoauthpassword@postgres:5432/hid_oauth
