POSTGRES_DB=aila_oauth
POSTGRES_USER=aila_oauth
POSTGRES_PASSWORD=ailaoauthpassword
PGDATA=/var/lib/postgresql/data/pgdata
DATABASE_URL=postgresql://aila_oauth:ailaoauthpassword@postgres:5432/aila_oauth
